In [3]:
print("Hello!")

Hello!

Commentary

## Comentary

In [4]:
# variables and values assignment
name = "John"
print(name)

John

In [5]:
# String dwa razem połączone _
first_name = "Ada"
print(first_name)

Ada

In [6]:
# integer
age = 70
print(age)

70

In [7]:
# float
size = 1.7343
print(size)

1.7343

In [8]:
# Boolean true/false

knows_math = True
print(knows_math)
likes_gardening = False
print(likes_gardening)

True
False

In [14]:
# types shown
type(name)

str

In [15]:
type(first_name)

str

In [16]:
5 + 5

10

In [17]:
5*5

25

In [18]:
name + name

'JohnJohn'

In [20]:
name*10

'JohnJohnJohnJohnJohnJohnJohnJohnJohnJohn'

In [21]:
name+"10"

'John10'

In [23]:
age / 4

17.5

In [24]:
# Functions and Methods
# eg. print/type they all give smth back/return
len(name)

4

In [28]:
# method is a part of an object

name.upper()

'JOHN'

In [29]:
name.count("o")

1

In [33]:
name.replace("Jo" , "Ja")

'Jahn'

In [35]:
# List and Dictionaries
# = contain things or objects
names = ["John", "Darwin", "Curie", "Johnny"]

In [36]:
len(names)

4

In [37]:
names[1]

'Darwin'

In [38]:
names[0]

'John'

In [41]:
names["0", "1"]

TypeError: list indices must be integers or slices, not tuple

In [42]:
names[-1]

'Johnny'

In [43]:
names[0+1]

'Darwin'

In [46]:
names[0:2]

['John', 'Darwin']

In [48]:
names[:2]

['John', 'Darwin']

In [49]:
names[2:]

['Curie', 'Johnny']

In [ ]:
names[0]

In [47]:
print(names)

['John', 'Darwin', 'Curie', 'Johnny']

In [52]:
authors_and_birth_years = {"John": 1925,
                           "Darwin": 1809,
                           "Noether": 1882}

In [57]:
authors_and_birth_years["Darwin"]

1809

In [58]:
authors_and_birth_years = {"John": names,
                           "Darwin": 1809,
                           "Noether": 1882}

In [60]:
authors_and_birth_years["John"]

['John', 'Darwin', 'Curie', 'Johnny']

In [61]:
authors_and_birth_years["John"][3]

'Johnny'

In [63]:
for person in names:
    print(person + " did awesome stuff.")

John did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Johnny did awesome stuff.

In [64]:
for person in names:
    print(person + " did awesome stuff.")
    print("-------------")

John did awesome stuff.
-------------
Darwin did awesome stuff.
-------------
Curie did awesome stuff.
-------------
Johnny did awesome stuff.
-------------

In [65]:
for person in names:
    print(person + " did awesome stuff.")
print("-------------")

John did awesome stuff.
Darwin did awesome stuff.
Curie did awesome stuff.
Johnny did awesome stuff.
-------------

In [ ]:
# Conditionals
#to execute a block of code if condition is met or nor met

In [69]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [67]:
temp > 15

True

In [71]:
temp = 14
if temp > 15:
    print("It's warm")
else: 
    print("It's cold")

It's cold

In [74]:
temp = 30
if temp >= 25:
    print("It's hot")
elif temp >= 15:
    print("It's warm")
else:
    print("It's cold")

It's hot